@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-text {
  animation: fadeIn 0.3s ease-in-out;
}

@layer utilities {
  .hover-float {
    @apply transition-all duration-300 ease-out hover:-translate-y-0.5;
  }
}